version: "3.8"

services:
  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_server_bolt_tls__level=DISABLED
    volumes:
      - neo4j_data:/data
    networks:
      - default

networks:
  default:
    driver: bridge
    enable_ipv6: false

volumes:
  neo4j_data:
